{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Products
    {% endif %}
{% endblock %}

{% block content %}
<div class="col-md-3">
    <h3>Kategoriyalar</h3>
            <div class="list-group">
                <a href="{% url 'shop:product_list' %}" class="list-group-item list-group-item-action">Hammasi</a>
                {% for c in categories %}
                    <a href="{{ c.get_absolute_url }}" class="list-group-item list-group-item-action">{{ c.name }}</a>
                {% endfor %}
            </div>
</div>
<div class="col-md-9">
        <h1>{% if category %}
            {{ category.name }}
            {% else %}
            Mahsulotlar
            {% endif %}
        </h1>
        {% for product in products %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}
                                {{ product.image.url }}
                              {% else %}
                              {% static 'img/no_image.png' %}
                              {% endif %}">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                <br>
                ${{ product.price }}
            </div>
        {% endfor %}
    </div>
{% endblock %}